body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box; /* Ensure consistent sizing */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007acc;
    color: white !important;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box; /* Ensure consistent sizing */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header h2 {
    margin: 0;
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

header a {
    color: white;
    text-decoration: none;
}


header p {
    margin: 0;
    font-size: 14px;
}

nav.menu {
    background-color: #007acc;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav.menu ul li {
    margin: 0 10px;
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav.menu ul li a:hover {
    text-decoration: underline;
}

main.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    box-sizing: border-box; /* Ensure padding does not affect width */
}

.main-box {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: solid 1px #d0d0d0;
    background-color: white;
}

.main-box h3 {
    margin: 0;
    text-align: center;
}

.pipeline-display {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* Ensure full width */
    box-sizing: border-box;
    overflow: scroll;
}

.pipeline-img {
    margin: 0 auto;
    width: fit-content;
}

.main-content-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 20px;
}

.input-section,
.code-block {
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Ensure content fits within the block */
}

.input-section {
    grid-column: span 1;
}

.simulation-inline-output {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.simulation-inline-output label {
    font-size: small;
}

.simulation-inline-output span {
    text-align: right;
}

.simulation-inline-item {
    text-align: right;
}

.code-block {
    overflow-x: auto;
}

.code-block h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
}

select, input[type="number"], button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in width */
}

button {
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005fa3;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 1px;
}

.tab-button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
}

.tab-button-selected {
    background-color: #005fa3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    box-sizing: border-box;

}

.tab-button:hover {
    background-color: #005fa3;
}

.output-section {
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    box-sizing: border-box; /* Ensure padding does not affect width */
    margin-bottom: 20px;
}

.output-section h3 {
    margin: 0;
    text-align: center;
}

.output-block svg {
    width: 100%;
    height: auto;
}

.output-block {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.output-block.active {
    display: block;
}

pre {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap; /* Ensure long lines wrap */
    box-sizing: border-box;
}

.processor-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.processor-info table {
    width: 25%;
    height: fit-content;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

.processor-info th, .processor-info td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.processor-info th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

.processor-info tr:nth-child(even) {
    background-color: #f1f3f5;
}

.processor-info td {
    font-size: 16px;
}

footer {
    background-color: #dff2ff70;
    padding: 15px 20px;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom of the page */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure consistent sizing */
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* ----------------------------- */

.blur-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(65, 65, 65, 0.5);
    z-index: 10;
    backdrop-filter: blur(5px);
}

.overlay {
    position: fixed;
    display: none;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 100;
    border-radius: 15px;
    border: 2px solid #506c8666;
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
}

#loading-overlay p {
    margin: auto;
    font-weight: bold;
    text-align: center;
}

/* Spinner animation */
.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #007bff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-bottom: 20px;
}

.spinner-small {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #868686;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ----------------------------- */

/* Container for the scale */
.scale-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
}

/* The scale */
.color-scale {
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, #00FF00, #FFFF00, #FF0000);
    border-radius: 5px;
    position: relative;
}

/* Optional labels for the scale */
.scale-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

/* Optional pointer (e.g., to show a specific value) */
.pointer {
    width: 2px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: -5px;
    left: 60%; /* Example: 60% of the scale */
}


.simulation-results-controls {
    display: none;
}

.input-simulation-result {
    max-width: 100px;

    display: block;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in width */
}

.simulation-results-controls-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}